# Directories
node_modules/
build/
dist/
coverage/
public/
test_coverage/

# Files
*.log
*.min.js
*.min.css
*.svg
*.png
*.jpg
*.jpeg
*.gif
*.webp
*.ico
*.pdf
*.lock
*.pem
*.key
*.cer
*.crt
*.csr
*.srl
*.pfx
*.p12
*.dmp
*.tmp
*.zip
*.tar
*.tgz
*.gz
*.rar
*.7z
*.bak
*.swp
*.tmp
