@use 'variables';
@use 'mixins';

.error__container {
  @include mixins.flex-column;
  margin: 6rem;
  height: 2rem;
}

.error__msg {
  display: inline-flex;
  height: 2rem;
}

.error__msg--red {
  color: variables.$color-red;
}

.alert-icon {
  height: 2rem;
  margin-right: 0.5rem;
  filter: variables.$svg-white;
}

// .alert-icon--white {
//   filter: variables.$svg-white;
// }

.alert-icon--red {
  filter: variables.$svg-red;
}

// .error-msg-container {
//   display: flex;
//   flex-direction: column;
// }

// .error-msg {
//   display: inline-flex;
//   margin: 6rem;
// }

// .alert-icon {
//   margin-right: 0.5rem;
//   height: 2rem;
//   filter: invert(98%) sepia(0%) saturate(2%) hue-rotate(89deg) brightness(107%)
//     contrast(101%);
// }
