@use 'variables';
@use 'mixins';

.error__container {
  @include mixins.flex-column;
  margin: 6rem;
  height: 2rem;
}

.error__msg {
  display: inline-flex;
  height: 2rem;
}

.error__msg--red {
  color: variables.$color-red;
}

.alert-icon {
  height: 2rem;
  margin-right: 0.5rem;
  filter: variables.$svg-white;
}

.alert-icon--red {
  filter: variables.$svg-red;
}
