@use 'variables';
@use 'mixins';

.featured-card {
  perspective: 150rem;
  position: relative;

  &:first-child {
    padding-left: 40%;
  }

  &:first-child::before {
    content: '';
    width: 300%;
    height: 100%;
    background-color: black;
    left: 43rem;
    position: absolute;
    box-shadow: 1rem 1rem 74rem black;
    filter: blur(4.5rem);
  }

  // &:first-child::before {
  //   content: '\276E';
  //   color: variables.$color-gray_dark;
  //   position: absolute;
  //   top: 20rem;
  //   left: -3rem;
  //   font-size: 3rem;
  //   opacity: 0;
  //   transition: 1s;
  // }

  // &:last-child::after {
  //   content: '\276F';
  //   color: variables.$color-gray_dark;
  //   position: absolute;
  //   top: 20rem;
  //   right: -3rem;
  //   font-size: 3rem;
  //   opacity: 0;
  //   transition: 1s;
  // }

  &__side {
    // min-width: 27.8rem;
    // min-height: 46rem;
    width: 29rem;
    height: 47.2rem;
    padding: variables.$spacing-sm 0;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-transform: uppercase;
    background-color: variables.$color-black_light;
    box-shadow: 0rem 0.5rem 1rem rgba(variables.$color-black, 0.15);
    backface-visibility: hidden;
    transition: all 0.8s ease;

    &--front {
      position: relative;
    }

    &--back {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: absolute;
      top: 0rem;
      transform: rotateY(180deg);
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0deg);
  }

  &:not(:last-child) {
    margin-right: 4rem;
  }

  &__header {
    text-align: center;
  }

  &__league-name,
  &__date,
  &__title,
  &__footnote {
    color: variables.$color-gray;
    font-size: 2rem;
    font-weight: 100;
  }
  &__sections--score {
    text-align: center;
  }

  &__sections--preview &__section-line {
    margin-top: 3rem;
  }

  &__home-section,
  &__away-section {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
  }

  &__timer-section {
    width: 80%;
    height: 80%;
    margin: 0 auto;
    text-align: center;
  }

  &__stadium-section {
    width: 80%;
    height: 20rem;
    margin: 0 auto;
    @include mixins.flex-center_align-center;
  }

  &__city-section {
    width: 80%;
    height: 9rem;
    margin: 0 auto;
    @include mixins.flex-center_align-center;
    position: relative;
    top: 3rem;
  }

  &__home-section {
    margin-top: -0.5rem;
    margin-bottom: 1rem;
  }

  &__home-name,
  &__away-name {
    // font-size: 13rem;
    font-size: 12rem;
    font-weight: 900;
  }

  &__home-img,
  &__away-img {
    width: 8.5rem;
    filter: contrast(115%) brightness(90%);
    // filter: contrast(78%) brightness(100%);
    // height: 8.5rem;
  }

  &__away-name {
    margin-top: -5rem;
    text-align: right;
  }

  &__timer {
    font-size: 7rem;
    font-weight: 900;
    color: variables.$color-white;

    &::first-line {
      color: variables.$color-gray;
    }
  }
  &__stadium-name {
    position: relative;
    bottom: 3rem;
    font-size: 4.2rem;
    font-weight: 900;
    color: variables.$color-gray;
  }

  &__city-name {
    font-size: 3.4rem;
    font-weight: 900;
    color: variables.$color-white;
  }

  &__section-line {
    width: calc(100% - 3.6rem);
    height: 1px;
    border: none;
    margin: 0 auto;
    background-color: variables.$color-gray;
  }

  &__score-section {
    margin-top: -0.5rem;
    @include mixins.flex-center;
  }

  &__home-goals,
  &__away-goals {
    font-size: 9.6rem;
    font-weight: 900;
  }

  &__tv-info {
    @include mixins.flex-center_align-center;
  }

  &__tv-name {
    margin-top: variables.$spacing-sm;
    margin-bottom: 1.9rem;
    font-size: 3.6rem;
    font-weight: 900;
  }

  &__footer {
    @include mixins.flex-center;
  }
}
