@use 'variables';
@use 'mixins';

.featured {
  display: flex;
  position: relative;
  overflow-x: hidden;
}

.left-arrow--featured,
.right-arrow--featured {
  font-size: 6rem;
  height: 47.5rem;
  width: 11rem;
  top: 6rem;

  &:hover {
    font-size: 7rem;
  }
}

.left-arrow--featured {
  left: -2rem;

  &:hover {
    background-image: variables.$left-arrow_strong-shadow;
  }
}

.right-arrow--featured {
  right: -2rem;

  &:hover {
    background-image: variables.$right-arrow_strong-shadow;
  }
}

.featured__title-container {
  position: absolute;
  margin: 15rem 6rem 10rem;
}
.featured__title-container .section__title {
  animation: show 3s forwards;
  opacity: 0;
}

// .featured__title {
//   font-weight: 900;
//   font-size: 9.6rem;
//   text-transform: uppercase;
//   color: variables.$color-black;
//   @include mixins.bordered-title;
//   line-height: 8rem;
// }

.featured__subtitle {
  margin-top: 3rem;
  font-weight: 400;
  font-size: 2rem;
  margin-left: 1rem;
  transition: all 0.2s;
  background-image: linear-gradient(
    to bottom right,
    variables.$color-blue_lighter,
    variables.$color-blue
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  animation: show-bright 3s forwards;
  animation-delay: 1s;
}

#featured-row {
  margin-left: 0;
  scroll-snap-align: start;
  scroll-snap-type: x mandatory;
  animation: slide 3s forwards;

  &:hover + .left-arrow,
  &:hover ~ .right-arrow {
    color: variables.$color-gray;
  }

  &:hover + .left-arrow {
    background-image: variables.$left-arrow_strong-shadow;
  }

  &:hover ~ .right-arrow {
    background-image: variables.$right-arrow_strong-shadow;
  }

  // &:hover > .featured-card:first-child::before,
  // &:hover > .featured-card:last-child::after {
  //   opacity: 1;
  // }
}

@keyframes show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes show-bright {
  0% {
    opacity: 0;
  }

  80% {
    filter: brightness(200%) contrast(200%);
  }

  100% {
    opacity: 1;
  }
}

@keyframes slide {
  0% {
    transform: translateX(50%);
  }

  80% {
    transform: translateX(-2%);
  }

  100% {
    transform: translateX(0%);
  }
}
