@use 'variables';
@use 'mixins';

.footer {
  height: 14rem;
  @include mixins.gradient-border;
  margin-top: 15rem;
  @include mixins.flex-around_align-center;
}

.footer__copy {
  font-size: variables.$font-sm;
  font-weight: variables.$weight-light;
  color: variables.$color-gray;
}

.github-logo {
  margin-right: 2rem;
}

.linkedin-logo,
.github-logo {
  filter: variables.$svg-white;
  height: 3rem;
}
