@use 'variables';
@use 'mixins';

.form {
  min-width: 50rem;
  padding: 4rem;
  border-radius: 0.5rem;
  position: relative;
  background-color: variables.$color-black_light;
  overflow: hidden;
  z-index: 10;

  &__input-container {
    margin-bottom: 6rem;
    @include mixins.flex-column;
    position: relative;
  }

  &__label {
    margin-bottom: 1rem;
    font-size: 2.4rem;
    font-weight: 700;
  }

  &__input {
    padding: 1rem;
    border: 1px solid variables.$color-black-lighter;
    font-family: 'Barlow Condensed';
    font-size: 1.6rem;
    color: variables.$color-white;
    background-color: variables.$color-black_light;

    &:focus {
      outline: none;
      border: 1px solid variables.$color-gray;
      background-color: variables.$color-black-lighter;
    }
  }

  &__button-container {
    margin: 2rem 0;
    @include mixins.flex-between;
    align-items: baseline;
  }
}
