@use 'variables';
@use 'mixins';

.header {
  padding: 4rem 6rem 2rem 6rem;
  border-top: 1px solid;
  border-image-slice: 1;
  border-width: 0.5rem;

  border-image-source: linear-gradient(
    to right,
    variables.$color-blue_lighter,
    variables.$color-blue
  );
  @include mixins.flex-between_align-center;
}

.logo-container {
  position: relative;
  z-index: 6;
  cursor: pointer;
}
