@use 'variables';
@use 'mixins';

.user {
  position: relative;
  margin-top: 12rem;

  @media only screen and (max-width: variables.$bp-small) {
    margin-top: 6rem;
  }
}

.user .section__title-container {
  @media only screen and (max-width: variables.$bp-small) {
    margin-bottom: 6rem;
  }
}

.leagues {
  margin-top: 12rem;

  @media only screen and (max-width: variables.$bp-small) {
    margin-top: 6rem;
  }
}

.leagues .section__title {
  @media only screen and (max-width: variables.$bp-small) {
    font-size: 8rem;
    line-height: 6rem;
  }
}

.matches-row {
  position: relative;
}

.matches-row__title {
  font-size: 2.4rem;
}

.left-arrow--matches-row,
.right-arrow--matches-row {
  font-size: 4rem;
  height: 15rem;
  width: 11rem;
  top: 8rem;
}

.left-arrow--matches-row,
.left-arrow--user-row {
  left: -1rem;

  @media only screen and (max-width: variables.$bp-small) {
    left: -3rem;
  }
}

.right-arrow--matches-row,
.right-arrow--user-row {
  right: -1rem;

  @media only screen and (max-width: variables.$bp-small) {
    right: -3rem;
  }
}

.left-arrow--user-row,
.right-arrow--user-row {
  font-size: 4rem;
  height: 15rem;
  width: 11rem;
  top: 34.5rem;

  @media only screen and (max-width: variables.$bp-small) {
    top: 27.5rem;
  }
}

.matches-row__title {
  display: inline-flex;
  align-items: center;
  padding-left: 9rem;
  position: relative;

  &--user {
    padding-left: 6rem;

    @media only screen and (max-width: variables.$bp-small) {
      padding-left: 4rem;
    }
  }

  &--leagues::before {
    content: '';
    position: absolute;
    width: 2rem;
    height: 2rem;
    left: 6rem;
    background-color: variables.$color-blue;
    border-radius: 50%;

    @media only screen and (max-width: variables.$bp-small) {
      left: 4rem;
    }
  }
}

.matches-row__title--leagues {
  @media only screen and (max-width: variables.$bp-small) {
    padding-left: 7rem;
  }
}

.matches-row .scrollable-row,
#user-row {
  &:hover + .left-arrow,
  &:hover ~ .right-arrow {
    color: variables.$color-gray;
  }

  &:hover + .left-arrow {
    background-image: variables.$left-arrow_shadow;
  }

  &:hover ~ .right-arrow {
    background-image: variables.$right-arrow_shadow;
  }
}
