@use 'variables';
@use 'mixins';

.user {
  position: relative;
  margin-top: 12rem;
}

.leagues {
  margin-top: 12rem;
}

.matches-row {
  position: relative;
}

.matches-row__title {
  font-size: 2.4rem;
}

.left-arrow--matches-row,
.right-arrow--matches-row {
  font-size: 4rem;
  height: 15rem;
  width: 11rem;
  top: 8rem;
}

.left-arrow--matches-row,
.left-arrow--user-row {
  left: -1rem;
}

.right-arrow--matches-row,
.right-arrow--user-row {
  right: -1rem;
}

.left-arrow--user-row,
.right-arrow--user-row {
  font-size: 4rem;
  height: 15rem;
  width: 11rem;
  top: 34.5rem;
}

.matches-row__title {
  display: inline-flex;
  align-items: center;
  padding-left: 9rem;
  position: relative;

  &--user {
    padding-left: 6rem;
  }

  &--leagues::before {
    content: '';
    position: absolute;
    width: 2rem;
    height: 2rem;
    left: 6rem;
    background-color: variables.$color-blue;
    border-radius: 50%;
  }
}

.matches-row .scrollable-row,
#user-row {
  &:hover + .left-arrow,
  &:hover ~ .right-arrow {
    color: variables.$color-gray;
  }

  &:hover + .left-arrow {
    background-image: variables.$left-arrow_shadow;
  }

  &:hover ~ .right-arrow {
    background-image: variables.$right-arrow_shadow;
  }
}
