@use 'variables';
@use 'mixins';

.intro {
  display: flex;
  padding-left: 6rem;
  position: relative;
  overflow-x: hidden;
}

.featured__left-arrow {
  position: absolute;
  color: transparent;
  background-color: transparent;
  border: none;
  font-size: 4rem;
  cursor: pointer;
  z-index: 20;
  top: 26.78rem;
  left: 2rem;
  transition: all 0.4s;

  &:hover {
    color: variables.$color-gray;
  }
}

.featured__right-arrow {
  position: absolute;
  color: transparent;
  background-color: transparent;
  border: none;
  font-size: 4rem;
  cursor: pointer;
  z-index: 20;
  top: 6rem;
  right: -3rem;
  height: 80%;
  width: 10%;
  transition: all 0.4s;

  &:hover {
    color: variables.$color-gray;
    background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 1));
  }
}

.featured__title-container {
  position: absolute;
  margin: 15rem 6rem 10rem 0;
}

.matches__title-container {
  text-align: right;
  margin: 0rem 6rem 10rem 0;
}

.featured__title,
.matches__title {
  font-weight: 900;
  font-size: 9.6rem;
  text-transform: uppercase;
  color: variables.$color-black;
  text-shadow: 0 0 1.5px variables.$color-white,
    0 0 1.5px variables.$color-white, 0 0 1.5px variables.$color-white,
    0 0 1.5px variables.$color-white;
  line-height: 8rem;
}

.featured__subtitle {
  margin-top: 3rem;
  font-weight: 400;
  font-size: 2rem;
  margin-left: 1rem;
  transition: all 0.2s;
  background-image: linear-gradient(
    to bottom right,
    variables.$color-blue_lighter,
    variables.$color-blue
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  // color: variables.$color-black;
  // text-shadow: 0 0 1.5px variables.$color-white,
  //   0 0 1.5px variables.$color-white, 0 0 1.5px variables.$color-white,
  //   0 0 1.5px variables.$color-white;

  // &::after {
  //   content: '';
  //   background-image: linear-gradient(
  //     to right,
  //     variables.$color-blue_lighter,
  //     variables.$color-blue
  //   );
  //   background-clip: text;
  //   -webkit-background-clip: text;
  //   -webkit-text-fill-color: transparent;
  //   animation: textChange 5s linear infinite alternate;
  // }
}

.emphasis {
  display: block;
  text-shadow: none;
  color: variables.$color-white;
}

#featured-row {
  margin-left: 0;
  scroll-snap-align: start;
  scroll-snap-type: x mandatory;

  &:hover + .featured__left-arrow,
  &:hover ~ .featured__right-arrow {
    color: variables.$color-gray;
  }

  &:hover ~ .featured__right-arrow {
    background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 1));
  }

  &:hover > .featured-card:first-child::before,
  &:hover > .featured-card:last-child::after {
    opacity: 1;
  }
}

.scrollable-row {
  padding: 6rem;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  // overflow: scroll;
  width: auto;
  position: relative;
  cursor: default;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    display: none;
  }
}

.matches__section .scrollable-row,
#user-row {
  &:hover + .matches__left-arrow,
  &:hover ~ .matches__right-arrow {
    color: variables.$color-gray;
    background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 1));
  }

  &:hover + .matches__left-arrow {
    background-image: linear-gradient(to left, transparent, rgba(0, 0, 0, 1));
  }

  &:hover ~ .matches__right-arrow {
    background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 1));
  }
}
.matches__left-arrow {
  position: relative;
  color: transparent;
  background-color: transparent;
  border: none;
  font-size: 3rem;
  cursor: pointer;
  z-index: 20;
  bottom: 20rem;
  right: 1rem;
  transition: all 0.4s;
  height: 15rem;
  width: 11rem;

  &:hover {
    color: variables.$color-gray;
    background-image: linear-gradient(to left, transparent, rgba(0, 0, 0, 1));
  }
}

.matches__right-arrow {
  position: relative;
  color: transparent;
  border: none;
  font-size: 3rem;
  cursor: pointer;
  z-index: 20;
  bottom: 20rem;
  left: 85vw;
  transition: all 0.4s;
  height: 15rem;
  width: 11rem;
  background-color: transparent;
  // background-color: red;

  &:hover {
    color: variables.$color-gray;
    background-image: linear-gradient(
      to right,
      transparent,
      rgba(0, 0, 0, 0.8)
    );
  }
}

#user-row {
  padding-left: 0;
  padding-right: 0;
}

.user-row__title {
  padding-left: 6rem;
}

// .arrow {
//   content: '';
//   position: relative;

//   &::before {
//     content: '\276E\00a0resultados';
//     color: variables.$color-gray_dark;
//     font-size: 1.4rem;
//     text-transform: uppercase;
//     transition: 1s;

//     bottom: 23rem;
//     left: 8rem;
//     position: absolute;
//     opacity: 0;
//   }

//   &::after {
//     content: 'previsões\00a0\276F';
//     color: variables.$color-gray_dark;
//     font-size: 1.4rem;
//     text-transform: uppercase;

//     bottom: 23rem;
//     left: 91vw;
//     position: absolute;
//     opacity: 0;
//     transition: 1s;
//   }
// }

.user-matches__container {
  padding-top: 5rem;
  overflow-x: hidden;
}
.matches-container {
  padding-top: 5rem;
  overflow-x: hidden;
}

.match-row__title {
  display: inline-flex;
  align-items: center;
  padding-left: 9rem;
  position: relative;
}

.match-row__title::before {
  content: '';
  position: absolute;
  width: 2rem;
  height: 2rem;
  left: 6rem;
  background-color: variables.$color-blue;
  border-radius: 50%;
}

.spinner {
  content: '';
  width: 2rem;
  height: 2rem;
  border: 0.3rem solid gray;
  border-top-color: black;
  border-right-color: black;
  border-radius: 50%;
  margin-bottom: 10rem;
  position: relative;
  left: 50vw;
  animation: loading 1s linear infinite;
  transition: loading 0.2s;
}

@keyframes loading {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.error-msg-container {
  display: flex;
  flex-direction: column;
}

.error-msg {
  display: inline-flex;
  margin: 6rem;
}

.alert-icon {
  margin-right: 0.5rem;
  height: 2rem;
  filter: invert(98%) sepia(0%) saturate(2%) hue-rotate(89deg) brightness(107%)
    contrast(101%);
}
