@use 'variables';
@use 'mixins';

.intro {
  display: flex;
}

.featured__title-container {
  margin: 15rem 6rem 10rem;
}

.matches__title-container {
  text-align: right;
  margin: 15rem 6rem 10rem 0;
}

.featured__title,
.matches__title {
  font-weight: 900;
  font-size: 9.6rem;
  text-transform: uppercase;
  color: variables.$color-black;
  text-shadow: 0 0 1.5px variables.$color-white,
    0 0 1.5px variables.$color-white, 0 0 1.5px variables.$color-white,
    0 0 1.5px variables.$color-white;
  line-height: 8rem;
}

.featured__subtitle {
  margin-top: 5rem;
  font-weight: 900;
  font-size: 4rem;
  transition: all 0.2s;
  // color: variables.$color-black;
  // text-shadow: 0 0 1.5px variables.$color-white,
  //   0 0 1.5px variables.$color-white, 0 0 1.5px variables.$color-white,
  //   0 0 1.5px variables.$color-white;

  &::after {
    content: '';
    background-image: linear-gradient(
      to right,
      variables.$color-blue_lighter,
      variables.$color-blue
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textChange 5s linear infinite alternate;
  }
}

.emphasis {
  display: block;
  text-shadow: none;
  color: variables.$color-white;
}

#featured-row {
  margin-left: 0;
  scroll-snap-align: center;
  scroll-snap-type: x mandatory;
}

.scrollable-row {
  padding: 6rem;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  position: relative;
  cursor: default;

  &::-webkit-scrollbar {
    display: none;
  }

  &:hover + .arrow::before,
  &:hover + .arrow::after {
    opacity: 1;
  }
}

#user-row {
  padding-left: 0;
  padding-right: 0;
}

.user-row__title {
  padding-left: 6rem;
}

.arrow {
  content: '';
  position: relative;

  &::before {
    content: '\276E\00a0resultados';
    color: variables.$color-gray_dark;
    font-size: 1.4rem;
    text-transform: uppercase;
    transition: 1s;

    bottom: 23rem;
    left: 8rem;
    position: absolute;
    opacity: 0;
  }

  &::after {
    content: 'previsões\00a0\276F';
    color: variables.$color-gray_dark;
    font-size: 1.4rem;
    text-transform: uppercase;

    bottom: 23rem;
    left: 91vw;
    position: absolute;
    opacity: 0;
    transition: 1s;
  }
}

.match-row__title {
  display: inline-flex;
  align-items: center;
  padding-left: 9rem;
  position: relative;
}
.match-row__title::before {
  content: '';
  position: absolute;
  width: 2rem;
  height: 2rem;
  left: 6rem;
  background-color: variables.$color-blue;
  border-radius: 50%;
}

.spinner {
  content: '';
  width: 2rem;
  height: 2rem;
  border: 0.3rem solid gray;
  border-top-color: black;
  border-right-color: black;
  border-radius: 50%;
  margin-bottom: 10rem;
  position: relative;
  left: 50vw;
  animation: loading 1s linear infinite;
  transition: loading 0.2s;
}

@keyframes loading {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.animation__text-container {
  display: flex;
  align-items: baseline;
  position: relative;
  left: 50%;
  // animation: changeOrder 5s;
}

// .animation__arrow span {
//   display: inline-flex;
//   align-items: center;
//   flex-direction: row;
//   width: 3rem;
//   height: 3rem;
//   color: black;
//   border-bottom: 2px solid white;
//   border-left: 2px solid white;
//   transform: rotate(45deg) translateY(-1rem);
//   margin-right: 1rem;
//   // transform: rotate(225deg);
//   // animation: scroll 10s infinite;
//   // animation-direction: reverse;

//   &:nth-child(2) {
//     animation-delay: -0.2s;
//   }
//   &:nth-child(3) {
//     animation-delay: -0.4s;
//   }
//   // &::after {
//   //   content: '';
//   //   display: block;
//   //   animation: arrowChange 5s linear infinite;
// }

.animation__text {
  display: flex;
  font-weight: 900;
  font-size: 9rem;
  color: variables.$color-black;
  text-shadow: 0 0 1.5px variables.$color-white,
    0 0 1.5px variables.$color-white, 0 0 1.5px variables.$color-white,
    0 0 1.5px variables.$color-white;

  &::before {
    content: '';
    // display: block;
    animation: arrowChange 10s linear infinite;
  }

  &::after {
    content: '';
    animation: textChange 5s linear infinite;
  }
}

@keyframes textChange {
  0% {
    opacity: 1;
    content: '\2190 resultados';
  }

  50% {
    opacity: 0;
    color: black;
  }

  100% {
    opacity: 1;
    content: 'previsões \2192';
  }
}

@keyframes scroll {
  0% {
    opacity: 0;
    transform: rotate(45deg) translateY(-1rem);
  }
  15% {
    opacity: 1;
  }

  30% {
    opacity: 0;
    transform: rotate(45deg) translateY(-1rem);
  }

  45% {
    opacity: 0;
    transform: rotate(225deg) translateY(-1rem);
    // transform: scaleX(-1) rotate(45deg) translateY(-1rem);
  }

  60% {
    opacity: 1;
  }

  75% {
    opacity: 0;
    transform: rotate(225deg) translateY(-1rem);
    // transform: scaleX(-1) rotate(45deg) translateY(-1rem);
  }

  100% {
    opacity: 0;
    transform: rotate(45deg) translateY(-1rem);
  }
}

.error-msg-container {
  display: flex;
  flex-direction: column;
}

.error-msg {
  display: inline-flex;
  margin: 6rem;
}

.alert-icon {
  margin-right: 0.5rem;
  height: 2rem;
  filter: invert(98%) sepia(0%) saturate(2%) hue-rotate(89deg) brightness(107%)
    contrast(101%);
}
