@use 'variables';
@use 'mixins';

.match-card {
  min-width: 27.8rem;
  // min-height: 11rem;
  height: 14rem;
  padding: variables.$spacing-sm;
  border-radius: 0.5rem;
  text-transform: uppercase;
  background-color: variables.$color-black_light;

  &:not(:last-child) {
    margin-right: 2rem;
  }

  &__header {
    margin-bottom: variables.$spacing-sm;
    @include mixins.flex-between;
    color: variables.$color-gray;
  }

  &__league,
  &__date {
    font-weight: 400;
  }

  &__main {
    &--preview {
      @include mixins.flex-between;
    }
  }

  &__home {
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
  }

  &__away {
    display: flex;
    align-items: center;
  }

  &__home-goals,
  &__away-goals {
    margin-left: auto;
  }

  &__home-img,
  &__away-img {
    height: 2rem;
    margin-right: 0.5rem;
  }

  &__tv {
    display: flex;
    align-items: center;
    text-align: center;
  }

  &__tv-name {
    inline-size: 5rem;
  }
}
