@use 'variables';
@use 'mixins';

.intro {
  display: flex;
  padding-left: 6rem;
  position: relative;
  overflow-x: hidden;
}

.featured__left-arrow {
  position: absolute;
  color: transparent;
  background-color: transparent;
  border: none;
  font-size: 4rem;
  cursor: pointer;
  z-index: 20;
  top: 26.78rem;
  left: 2rem;
  transition: all 0.4s;

  &:hover {
    color: variables.$color-gray;
  }
}

.featured__right-arrow {
  position: absolute;
  color: transparent;
  background-color: transparent;
  border: none;
  font-size: 4rem;
  cursor: pointer;
  z-index: 20;
  top: 6rem;
  right: -3rem;
  height: 80%;
  width: 10%;
  transition: all 0.4s;

  &:hover {
    color: variables.$color-gray;
    background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 1));
  }
}

.featured__title-container {
  position: absolute;
  margin: 15rem 6rem 10rem 0;
}

.featured__title {
  font-weight: 900;
  font-size: 9.6rem;
  text-transform: uppercase;
  color: variables.$color-black;
  text-shadow: 0 0 1.5px variables.$color-white,
    0 0 1.5px variables.$color-white, 0 0 1.5px variables.$color-white,
    0 0 1.5px variables.$color-white;
  line-height: 8rem;
}

.featured__subtitle {
  margin-top: 3rem;
  font-weight: 400;
  font-size: 2rem;
  margin-left: 1rem;
  transition: all 0.2s;
  background-image: linear-gradient(
    to bottom right,
    variables.$color-blue_lighter,
    variables.$color-blue
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  // color: variables.$color-black;
  // text-shadow: 0 0 1.5px variables.$color-white,
  //   0 0 1.5px variables.$color-white, 0 0 1.5px variables.$color-white,
  //   0 0 1.5px variables.$color-white;

  // &::after {
  //   content: '';
  //   background-image: linear-gradient(
  //     to right,
  //     variables.$color-blue_lighter,
  //     variables.$color-blue
  //   );
  //   background-clip: text;
  //   -webkit-background-clip: text;
  //   -webkit-text-fill-color: transparent;
  //   animation: textChange 5s linear infinite alternate;
  // }
}

#featured-row {
  margin-left: 0;
  scroll-snap-align: start;
  scroll-snap-type: x mandatory;

  &:hover + .featured__left-arrow,
  &:hover ~ .featured__right-arrow {
    color: variables.$color-gray;
  }

  &:hover ~ .featured__right-arrow {
    background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 1));
  }

  &:hover > .featured-card:first-child::before,
  &:hover > .featured-card:last-child::after {
    opacity: 1;
  }
}

.matches-rows__container .scrollable-row,
#user-row {
  &:hover + .matches__left-arrow,
  &:hover ~ .matches__right-arrow {
    color: variables.$color-gray;
    background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 1));
  }

  &:hover + .matches__left-arrow {
    background-image: linear-gradient(to left, transparent, rgba(0, 0, 0, 1));
  }

  &:hover ~ .matches__right-arrow {
    background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 1));
  }
}

.matches__left-arrow {
  position: relative;
  color: transparent;
  background-color: transparent;
  border: none;
  font-size: 3rem;
  cursor: pointer;
  z-index: 20;
  bottom: 20rem;
  right: 1rem;
  transition: all 0.4s;
  height: 15rem;
  width: 11rem;

  &:hover {
    color: variables.$color-gray;
    background-image: linear-gradient(to left, transparent, rgba(0, 0, 0, 1));
  }
}

.matches__right-arrow {
  position: relative;
  color: transparent;
  border: none;
  font-size: 3rem;
  cursor: pointer;
  z-index: 20;
  bottom: 20rem;
  left: 85vw;
  transition: all 0.4s;
  height: 15rem;
  width: 11rem;
  background-color: transparent;
  // background-color: red;

  &:hover {
    color: variables.$color-gray;
    background-image: linear-gradient(
      to right,
      transparent,
      rgba(0, 0, 0, 0.8)
    );
  }
}

#user-row {
  padding-left: 0;
  padding-right: 0;
}

.matches-row__title {
  display: inline-flex;
  align-items: center;
  padding-left: 9rem;
  position: relative;

  &--user {
    padding-left: 6rem;
  }

  &--leagues::before {
    content: '';
    position: absolute;
    width: 2rem;
    height: 2rem;
    left: 6rem;
    background-color: variables.$color-blue;
    border-radius: 50%;
  }
}
