@use 'variables';
@use 'mixins';

/* Sections
------------------------------------------ */
.section {
  padding-top: 5rem;
  overflow-x: hidden;
}

.section__title-container {
  margin: 0rem 6rem 10rem 0;
  text-align: right;
}

.section__title {
  font-size: 9.6rem;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 8rem;
  color: variables.$color-black;
  @include mixins.bordered-title;

  &--emphasis {
    display: block;
    color: variables.$color-white;
    text-shadow: none;
  }
}

/* Scrollable-row
------------------------------------------ */

.scrollable-row {
  padding: 6rem;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  // overflow: scroll;
  width: auto;
  position: relative;
  cursor: default;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    display: none;
  }
}

/* Logo
------------------------------------------ */
.logo-main {
  width: 12rem;
  height: 12rem;
  // filter: grayscale(1);
}

.logo-secondary {
  height: 4rem;
}

/* Buttons
------------------------------------------ */
.primary-button {
  height: 4rem;
  padding: 1rem 2rem;
  border: 1px solid variables.$color-white;
  border-image-slice: 1;
  border-width: 1px;
  color: variables.$color-white;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(
      to right,
      variables.$color-blue_light,
      variables.$color-blue
    );

    border-image-source: linear-gradient(
      to right,
      variables.$color-blue_light,
      variables.$color-blue
    );
  }
}

.secondary-button {
  font-size: 1.8rem;
  font-weight: 300;
  text-transform: uppercase;
  color: variables.$color-gray;
  cursor: pointer;
  position: relative;
  transition: all 0.2s;

  &:hover {
    color: variables.$color-blue_light;
    text-decoration: underline;
    text-underline-offset: 10px;
  }
}

.right-arrow,
.left-arrow {
  font-weight: 100;
  position: absolute;
  color: transparent;
  background-color: transparent;
  border: none;
  z-index: 20;
  cursor: pointer;
  transition: all 0.4s;

  &:hover {
    font-size: 5rem;
    color: variables.$color-gray;
  }
}

.right-arrow:hover {
  background-image: variables.$right-arrow_shadow;
}

.left-arrow:hover {
  background-image: variables.$left-arrow_shadow;
}

/* Loading
------------------------------------------ */

.loading-spinner {
  content: '';
  width: 2rem;
  height: 2rem;
  border: 0.3rem solid gray;
  border-top-color: black;
  border-right-color: black;
  border-radius: 50%;
  margin-bottom: 10rem;
  position: relative;
  left: 50vw;
  animation: spin 1s linear infinite;
  transition: spin 0.2s;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Visuals
------------------------------------------ */
.line {
  width: calc(100% - 3.6rem);
  height: 1px;
  border: none;
  margin: 0 auto;
  background-color: variables.$color-gray;
}
