@use 'variables';
@use 'mixins';

.featured-card {
  perspective: 150rem;

  &__side {
    min-width: 27.8rem;
    min-height: 46rem;
    background-color: variables.$color-white;
    text-transform: uppercase;
    border-radius: 0.5rem;
    box-shadow: 0rem 0.5rem 1rem rgba(variables.$color-black, 0.15);
    padding: variables.$spacing-sm 0;
    backface-visibility: hidden;
    transition: all 0.8s ease;

    &--front {
      position: relative;
    }

    &--back {
      position: absolute;
      top: 0rem;
      transform: rotateY(180deg);
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0deg);
  }

  &:not(:last-child) {
    margin-right: 4rem;
  }

  &__header {
    text-align: center;
  }

  &__league-name,
  &__date {
    color: variables.$color-gray;
    font-size: 2rem;
    font-weight: 100;
  }

  &__sections--preview &__section-line {
    margin-top: 3rem;
  }

  &__home-section,
  &__away-section {
    display: flex;
    align-items: baseline;
  }

  &__home-section {
    margin-top: -0.5rem;
    margin-bottom: 1rem;
  }

  &__home-name,
  &__away-name {
    font-size: 13rem;
    font-weight: 900;
  }

  &__home-img,
  &__away-img {
    width: 9rem;
    // height: 9rem;
  }

  &__away-name {
    text-align: right;
    margin-top: -5rem;
  }

  &__section-line {
    background-color: variables.$color-gray;
    width: calc(100% - 3.6rem);
    height: 1px;
    margin: 0 auto;
    border: none;
  }

  &__score-section {
    margin-top: -0.5rem;
    @include mixins.flex-center;
  }

  &__home-goals,
  &__away-goals {
    font-size: 9.6rem;
    font-weight: 900;
  }

  &__tv-info {
    @include mixins.flex-center-align-center;
  }

  &__tv-name {
    margin-top: variables.$spacing-sm;
    margin-bottom: 1.9rem;
    font-size: 3.6rem;
    font-weight: 900;
  }

  & &__footer {
    @include mixins.flex-center;
  }
}
