@use 'variables';

.footer {
  border-top: 1px solid;
  border-image-slice: 1;
  border-width: 0.5rem;

  border-image-source: linear-gradient(
    to right,
    variables.$color-blue_lighter,
    variables.$color-blue
  );
  margin-top: 15rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 14rem;
}

.footer__credits {
  color: variables.$color-gray;
  font-size: 1.4rem;
  font-weight: 300;
}

.github-logo {
  margin-right: 3rem;
}

.linkedin-logo,
.github-logo {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg)
    brightness(102%) contrast(102%);
  height: 3rem;
}
