@use 'variables';
@use 'mixins';

.footer {
  height: 14rem;
  @include mixins.gradient-border;
  margin-top: 15rem;
  @include mixins.flex-around_align-center;
}

.footer__credits {
  font-size: variables.$font-sm;
  font-weight: variables.$weight-light;
  color: variables.$color-gray;
}

.github-logo {
  margin-right: 3rem;
}

.linkedin-logo,
.github-logo {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg)
    brightness(102%) contrast(102%);
  height: 3rem;
}
