@use 'variables';
@use 'mixins';

.header {
  padding: 2rem 6rem;
  @include mixins.flex-between_align-center;

  &__btn {
    height: 4rem;
    padding: 1rem 2rem;
    border: 1px solid variables.$color-white;
    // border-image-slice: 1;
    // border-width: 1px;
    color: variables.$color-white;
    text-transform: uppercase;
    background-color: black;
    cursor: pointer;

    // &:hover {
    //   border-image-source: linear-gradient(
    //     to right,
    //     variables.$color-green,
    //     variables.$color-red
    //   );
    // }
  }
}

.logo {
  width: 12rem;
  height: 12rem;
}
