@use 'mixins';

.header {
  @include mixins.flex-between;
  padding: 2rem 6rem;
}

.btn {
  background-color: transparent;
  border: 1px solid black;
  padding: 1rem 2rem;
  cursor: pointer;
}

.logo {
  width: 3rem;
  height: 3rem;
}
