@use 'variables';
@use 'mixins';

.header {
  padding: 8rem 6rem;
  border-top: 1px solid;
  border-image-slice: 1;
  border-width: 0.5rem;

  border-image-source: linear-gradient(
    to right,
    variables.$color-blue_lighter,
    variables.$color-blue
  );
  @include mixins.flex-between_align-center;

  &__btn {
    height: 4rem;
    padding: 1rem 2rem;
    border: 1px solid variables.$color-white;
    // border-image-slice: 1;
    // border-width: 1px;
    color: variables.$color-white;
    text-transform: uppercase;
    background-color: variables.$color-black;
    cursor: pointer;

    // &:hover {
    //   border-image-source: linear-gradient(
    //     to right,
    //     variables.$color-green,
    //     variables.$color-red
    //   );
    // }
  }
}

.logo {
  width: 12rem;
  height: 12rem;
  // filter: grayscale(1);
}
