@use 'variables';
@use 'mixins';
@use 'common';
@use '_Header.scss';
@use '_Popup.scss';
@use '_Form.scss';
@use '_Featured.scss';
@use '_Leagues.scss';
@use '_FeaturedCard.scss';
@use '_MatchesCard.scss';
@use '_Footer.scss';
@use '_Error.scss';

@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Barlow Condensed';
  font-size: 1.6rem;
  font-weight: 400;
  background-color: variables.$color-black;
  color: variables.$color-white;
  overflow-x: hidden;
}

a,
a:focus,
a:visited,
a:active {
  color: variables.$color-gray;
  text-decoration: none;
}

a:hover {
  color: variables.$color-blue_lighter;
}
