@use 'variables';
@use 'mixins';

.card {
  background-color: variables.$color-white;
  text-transform: uppercase;
  min-width: 24rem;
  min-height: 11rem;
  padding: variables.$spacing-sm;
  border-radius: 0.5rem;
  box-shadow: 0rem 0.5rem 1rem rgba(variables.$color-black, 0.15);

  &:not(:last-child) {
    margin-right: 2rem;
  }

  &__header {
    color: variables.$color-gray;
    font-weight: 100;
    margin-bottom: variables.$spacing-sm;
    @include mixins.flex-between;
  }

  &__league-name,
  &__date {
    font-weight: 400;
  }

  &__sections--preview {
    @include mixins.flex-between;
  }

  &__sections--preview &__home-name {
    margin-bottom: 1.5rem;
  }

  &__home-section {
    margin-bottom: 1.5rem;
    @include mixins.flex-between;
  }

  &__away-section {
    @include mixins.flex-between;
  }

  &__home-name,
  &__home-goals,
  &__away-name,
  &__away-goals {
    font-size: 2rem;
    font-weight: 700;
  }

  &__tv-info {
    display: flex;
    align-items: center;
    text-align: center;
  }

  &__tv-name {
    inline-size: 5rem;
  }
}
