@use 'mixins';

.scrollable-row {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding: 5rem 0;

  @include mixins.hide-scrollbar-ms;

  &::-webkit-scrollbar {
    display: none;
  }
}
