@mixin flex-between {
  display: flex;
  justify-content: space-between;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-center-align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin hide-scrollbar-ms {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
