@use 'variables';

@mixin flex-between {
  display: flex;
  justify-content: space-between;
}

@mixin flex-between_align-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-center_align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-center-align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-around_align-center {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@mixin hide-scrollbar-ms {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

@mixin w-screen_h-screen {
  width: 100vw;
  height: 100vh;
}

@mixin absolute_zero {
  position: absolute;
  top: 0;
  left: 0;
}

@mixin gradient-border {
  border-top: 1px solid;
  border-image-slice: 1;
  border-width: 0.5rem;

  border-image-source: linear-gradient(
    to right,
    variables.$color-blue_lighter,
    variables.$color-blue
  );
}
