@use 'variables';
@use 'mixins';

.popup {
  @include mixins.w-screen_h-screen;
  @include mixins.absolute_zero;
  background-color: variables.$color-background;
  z-index: 5;
  @include mixins.flex-center_align-center;

  &--visible {
    visibility: visible;
  }
  &--hidden {
    visibility: hidden;
  }

  &__btn-close {
    @include mixins.w-screen_h-screen;
    @include mixins.absolute_zero;
    background-color: transparent;
    z-index: 1;
    cursor: pointer;
  }
}
