$color-white: rgb(255, 255, 255);
// $color-black: rgb(20, 20, 20);
$color-black: rgb(0, 0, 0);
$color-black_light: rgb(28, 28, 30);
$color-black_lighter: rgb(54, 54, 54);
$color-gray: rgb(173, 173, 173);
$color-red: rgb(240, 50, 48);
$color-green: rgb(23, 240, 210);
$color-blue: rgb(83, 127, 231);
$color-blue_light: rgb(192, 238, 242);
$color-blue_lighter: rgb(233, 248, 249);

$color-background: rgba(0, 0, 0, 0.8);

$spacing-sm: 1.8rem;
